.itemDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(220, 220, 220);
  padding: 40px;
  border-radius: 20px;
  height: 400px;
  width: fit-content;
}

.itemDetail img {
  display: flex;
  border-radius: 20px;
  height: 300px;
  width: 400px;
}

.price {
  font-size: 30px;
}

.itemInformation {
  display: flex;
  justify-content: right;
  flex-direction: column;
  margin-left: 30px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 20px;
}

button:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.2s;
}
