.item {
  display: flex;
  height: auto;
  width: 250px;
  transition: transform 0.2s;
  background-color: rgb(220, 220, 220);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 20px;
  filter: drop-shadow(5px 5px 5px gray);
  margin: 15px;
  padding: 20px;
  text-align: center;
}

p {
  display: flex;
}

.item:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.2s;
}

.item img {
  display: flex;
  width: 220px;
  height: 165px;
  border-radius: 20px;
}

.item button {
  border: 0;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  height: 30px;
}

.item button:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.2s;
}
