header a {
  text-decoration: none;
}

.contacto_directo {
  display: flex;
  background-color: black;
  height: 40px;
  justify-content: right;
  padding-right: 10%;
  align-items: center;
}

header {
  display: flex;
  background-color: rgb(23, 22, 22);
  justify-content: center;
  height: 80px;
}

.logo {
  height: 150px;
  width: 200px;
  filter: drop-shadow(3px 3px 3px black);
  position: relative;
  top: -20px;
  right: 100px;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px;
  color: white;
  text-decoration: none;
}

.links:hover {
  color: rgb(143, 143, 143);
}

nav {
  display: flex;
  align-items: center;
}
