header a {
  text-decoration: none;
}

.contacto_directo {
  display: flex;
  background-color: black;
  height: 40px;
  justify-content: right;
  padding-right: 10%;
  align-items: center;
}

header {
  display: flex;
  background-color: rgb(23, 22, 22);
  justify-content: center;
  height: 70px;
}

.logo {
  height: 150px;
  width: 200px;
  filter: drop-shadow(5px 5px 5px black);
  position: relative;
  top: -20px;
  right: 100px;
}

ul {
  display: flex;
}

ul li {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  color: white;
  text-decoration: none;
}

ul li:hover {
  color: rgb(182, 182, 182);
}

nav {
  align-items: center;
}
